/* ##### */
/* RESET */
/* ----- */
*,
*::before,
*::after {
  outline: 1px dotted hotpink;
  box-sizing: border-box;
}

/* ###### */
/* GLOBAL */
/* ------ */
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* ########## */
/* TYPOGRAPHY */
/* ---------- */
.h2-section {
  color: #00a1ab;
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 3em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.p-fs-500 {
  font-size: 1.3125rem;
  margin-top: 0;
}

/* ###### */
/* LAYOUT */
/* ------ */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 2em;
}

/* ####### */
/* BUTTONS */
/* ------- */
.a-btn {
  background: #00a1ab;
  border-radius: 0.25em;
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.a-btn--dark {
  background: #4e4e4e;
  color: white;
}

.a-btn--light {
  background: white;
  color: #4e4e4e;
}

/* ##### */
/* PLANS */
/* ----- */
.h2-plan {
  margin: 0 0 1em;
  text-transform: uppercase;
}

.p-plan-price {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

.plan--light .p-plan-price { color: #00a1ab; }

.p-plan-description {
  line-height: 1.5;
  margin: 2em 0;
}

/* ----- */

.p-plan-price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.plan--accent .a-btn {
  background: white;
  color: #4e4e4e;
}

.plan--light .a-btn {
  background: #4e4e4e;
  color: white;
}

/* ----- */

.plan {
  border-radius: 1em;
  margin: 0 0.5em;
  padding: 2em;
  width: 200px;
}

.plan--accent {
  background: linear-gradient(-45deg, #00a1ab, #3741a0);
  color: #fff;
}

.plan--light {
  background: linear-gradient(-45deg, #e5e3e8, #fafafa);
  color: #4e4e4e;
}

.plans {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

/* ##### */
/* TEAMS */
/* ----- */
.h3-name {
  font-size: 2rem;
  margin-bottom: 0;
}

.p-bio-brief { line-height: 1.5; }

.p-position {
  font-size: .875rem;
  margin-top: 0;
}

/* ----- */

.team-member {
  align-items: center;
  background: #abc;
  border-radius: 0.5em;
  display: flex;
  flex: 1 1 45%;
  margin: 1em;
  padding: 0.5em 2em 0.5em 0.5em;
  text-align: left;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
}

/* ----- */

.team-member img {
  border-radius: 0.25em;
  width: 10rem;
}
