/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-acc-base: #00CDAC;
  --clr-acc-dark: #114243;
  --clr-base:    #4E4E4E;
  --clr-light:   #E5E3E8;
  --clr-lighter: #FAFAFA;
  --clr-blue: #3741a0;
  --clr-teal: #00a1ab;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
}

/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 3em;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* ---------- */

.h2-plan {
  font-size: 1.125;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.p-plan-description {
  line-height: 1.5;
  margin: 2em 0;
}

.p-plan-price {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

.p-plan-price.prom { color: white; }

.p-subhead {
  font-size: 1.3125rem;
  margin-top: 0;
}

/* ---------- */

.p-plan-price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.a-btn {
  border-radius: 0.25em;
  font-size: .875rem;
  font-weight: 700;
  padding: 0.5em 0.75em;
  text-decoration: none;
  text-transform: uppercase;
}

.a-btn--plan {
  background: var(--clr-base);
  color: white;
}

.a-btn--plan-prom {
  background: white;
  color: var(--clr-base);
}

/* ###### */
/* LAYOUT */
/* ------ */

.plan {
  background: linear-gradient(-45deg, var(--clr-light), var(--clr-lighter));
  border-radius: 1em;
  color: var(--clr-base);
  margin: 0 0.5em;
  padding: 2em;
  width: 200px;
}

.plan--prom {
  background: linear-gradient(-45deg, var(--clr-teal), var(--clr-blue));
  color: white;
}

.plans {
  display: flex;
  justify-content: center;
}

/* ##### */
/* UTILS */
/* ----- */

.text-accent { color: var(--clr-teal); }
