/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --red-rgb: 232, 139, 139;
  --blue-rgb: 96, 168, 235;
  --pink-rgb: 223, 135, 204;
  --orange-rgb: 235, 143, 96;
  --purple-rgb: 139, 146, 232;
  --green-rgb: 81, 188, 157;

  --clr-red: rgb(var(--red-rgb));
  --clr-blue: rgb(var(--blue-rgb));
  --clr-pink: rgb(var(--pink-rgb));
  --clr-orange: rgb(var(--orange-rgb));
  --clr-purple: rgb(var(--purple-rgb));
  --clr-green: rgb(var(--green-rgb));

  --clr-white: rgb(255, 255, 255);
  --clr-neutral-400: rgb(94, 94, 94);
  --clr-neutral-300: rgb(240, 242, 244);

  --fs-title: 3rem;
  --fs-base: 1rem;
}

*,
*::before,
*::after {
  /* outline: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  color: var(--clr-neutral-400);
  font-family: "Red Hat Text", sans-serif;
  font-size: var(--fs-base);
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
p { margin-top: 0; }

h1,
.p-subtitle { grid-column: 1 / -1; }

.card p { margin: 1.25em 0 auto; }

h1 { font-size: var(--fs-title); }

h2 {
  background: gray;
  border-radius: 100vw;
  box-shadow: 0 4px 21px var(--clr-shadow);
  color: white;
  font-size: inherit;
  letter-spacing: 1px;
  margin-top: -3.5em;
  margin-bottom: auto;
  padding: .375em 2.25em;
  text-transform: uppercase;
}

.p-subtitle {
  line-height: 1.7;
  margin: 0 auto 6em;
  max-width: 510px;
}

/* ###### */
/* LAYOUT */
/* ------ */

main {
  display: grid;
  column-gap: 3.5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  margin: 0 auto;
  max-width: 1060px;
  padding: 7em 0;
  width: 96%;
}

.card {
  align-items: center;
  background: var(--clr-neutral-300);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
  max-width: 350px;
  padding: 2.75em;
}

/* ##### */
/* UTILS */
/* ----- */

.bg-red {
  --clr-shadow: rgba(var(--red-rgb), .5);
  background: var(--clr-red);
}
.bg-blue {
  --clr-shadow: rgba(var(--blue-rgb), .5);
  background: var(--clr-blue);
}
.bg-pink {
  --clr-shadow: rgba(var(--pink-rgb), .5);
  background: var(--clr-pink);
}
.bg-orange {
  --clr-shadow: rgba(var(--orange-rgb), .5);
  background: var(--clr-orange);
}
.bg-purple {
  --clr-shadow: rgba(var(--purple-rgb), .5);
  background: var(--clr-purple);
}
.bg-green {
  --clr-shadow: rgba(var(--green-rgb), .5);
  background: var(--clr-green);
}
