/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-red: rgba(232, 139, 139);
  --clr-blue: rgba(96, 168, 235);
  --clr-pink: rgba(223, 135, 204);
  --clr-orange: rgba(235, 143, 96);
  --clr-purple: rgba(139, 146, 232);
  --clr-green: rgba(81, 188, 157);
  --clr-white: rgba(255, 255, 255);
  --clr-neutral-400: rgba(94, 94, 94);
  --clr-neutral-300: rgba(240, 242, 244);

  --fs-title: 3rem;
  --fs-base: 1rem;
}

*,
*::before,
*::after {
  outline: 1px dotted hotpink;
  box-sizing: border-box;
}

body {
  color: var(--clr-neutral-400);
  font-family: "Red Hat Text", sans-serif;
  font-size: var(--fs-base);
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
p { margin-top: 0; }

h1,
.p-subtitle { grid-column: 1 / -1; }

h1 { font-size: var(--fs-title); }

h2 {
  background: gray;
  border-radius: 100vw;
  box-shadow: 0 4px 21px gray;
  color: white;
  font-size: inherit;
  letter-spacing: 1px;
  margin-top: -2.5em;
  padding: .3em 2.25em;
  text-transform: uppercase;
}

.p-subtitle {
  line-height: 1.7;
  margin: 0 auto 4em;
  max-width: 510px;
}

/* ###### */
/* LAYOUT */
/* ------ */

main {
  display: grid;
  column-gap: 3.5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  margin: 0 auto;
  max-width: 960px;
  padding: 7em 0;
  width: 96%;
}

.card {
  align-items: center;
  background: var(--clr-neutral-300);
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  max-width: 350px;
  padding: 1.625em;
}
