/* ###### */
/* GLOBAL */
/* ------ */

*,
*::before,
*::after {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  color: #414141;
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
.p-subtitle,
.p-lead { margin-top: 0; }

h1 {
  font-family: 'Cinzel', serif;
  font-size: 6rem;
  line-height: .9;
  margin-bottom: .4em;
}

.p-lead { font-size: 1.3125rem; }

.p-subtitle {
  color: #7d7d7d;
  font-size: 2.25rem;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 54rem;
}

a { color: #CA5E10; }


/* ###### */
/* LAYOUT */
/* ------ */

article {
  margin: 0 auto;
  max-width: 66rem;
}

header {
  padding-top: 10em;
  padding-bottom: 6em;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
